.year{
    float: left;
    font-family: Georgial;  
    font-size: 130%;
    font-weight: 800; 
    height: 40px;
}

.block{
    margin: 5% 0 5% 10%;
    padding: 5px 5px 5px 2%;
    background-color: gainsboro;

}

.info{
    font-family: Georgial;  
    font-size: 130%;
    font-weight: 1000;
    padding-bottom: 1%; 
}

.detale{
    font-family: Georgial;  
    font-size: 100%;
    font-weight: 500; 
}